node-red/lora_1u2_map_2020-04-28.json
[
    {
        "id": "366a3497.354eec",
        "type": "tab",
        "label": "lora_1u2_map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9646389.ffe32",
        "type": "mqtt in",
        "z": "366a3497.354eec",
        "name": "",
        "topic": "lora_1/wifi/rssi",
        "qos": "0",
        "datatype": "auto",
        "broker": "876f5533.ab4d58",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "8c716658.0d1a6"
            ]
        ]
    },
    {
        "id": "8c716658.0d1a6",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "16ba93e9.84dc34",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "af6be0a8.d37408",
        "type": "mqtt in",
        "z": "366a3497.354eec",
        "name": "",
        "topic": "lora_1/lora/gps",
        "qos": "0",
        "datatype": "auto",
        "broker": "876f5533.ab4d58",
        "x": 101,
        "y": 103,
        "wires": [
            [
                "42dfa78c.e9483"
            ]
        ]
    },
    {
        "id": "42dfa78c.e9483",
        "type": "json",
        "z": "366a3497.354eec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 103,
        "wires": [
            [
                "16ba93e9.84dc34",
                "c5f24333.73b22",
                "d8fb0d25.33b5c8",
                "4036c6e.20248b8",
                "5dd5b230.9ad58c"
            ]
        ]
    },
    {
        "id": "c5f24333.73b22",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "convert json output to worldmap",
        "func": "var newMsg = {};\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\nvar datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\")\",\n    lat: parseFloat(msg.payload.gps_loc[0]),\n    lon: parseFloat(msg.payload.gps_loc[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc[2]),\n    satellites: msg.payload.satellites,\n    popped: false,\n    label: \"GPS raw\",\n    icon: msg.payload.icon,\n    color: msg.payload.iconColor, // color of trace\n    iconColor: msg.payload.iconColor,\n    //radius: 10,\n    //radiusColor: \"Green\",\n    \"wifi rssi [dBm]\": msg.payload.wifi_rssi,\n    \"gps_time (UTC)\": datetime_gps,\n    \"local_time (DE)\": datetime_local,\n    \"layer\": \"gps_raw\",\n    \"draggable\": true\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "4b596100.58ef6",
                "6ed2ecec.4c6fd4",
                "e29c6fdc.e65968"
            ]
        ]
    },
    {
        "id": "4b596100.58ef6",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "f44563a1.2d3228",
        "type": "mqtt in",
        "z": "366a3497.354eec",
        "name": "",
        "topic": "lora_2_esp32/wifi/rssi",
        "qos": "0",
        "datatype": "auto",
        "broker": "876f5533.ab4d58",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "eb2fdb28.09068"
            ]
        ]
    },
    {
        "id": "eb2fdb28.09068",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "2a1caa00.8071d6",
        "type": "sqlite",
        "z": "366a3497.354eec",
        "mydb": "52d9b570.d77a5c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "lora_gps.sqlite3",
        "x": 1403,
        "y": 160,
        "wires": [
            [
                "b5df5a24.4f8d38"
            ]
        ]
    },
    {
        "id": "75c0ab43.046514",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1373,
        "y": 120,
        "wires": []
    },
    {
        "id": "dd42dd7c.14e22",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "display floating averages for GPS coordinates in map",
        "info": "",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "e29c6fdc.e65968",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_1",
        "depth": "1000",
        "layer": "combined",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "d8fb0d25.33b5c8",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "location average",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\",\n    lat: parseFloat(msg.payload.gps_loc_avg[0]),\n    lon: parseFloat(msg.payload.gps_loc_avg[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_avg[2]),\n    popped: false,\n    label: \"GPS average\",\n    color: \"Darkred\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Darkred\",\n    \"layer\": \"gps_average\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "c4598772.ae0dc8",
                "6ed2ecec.4c6fd4",
                "80993626.8e563"
            ]
        ]
    },
    {
        "id": "c4598772.ae0dc8",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "80993626.8e563",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_1_avg",
        "depth": "500",
        "layer": "combined",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "4036c6e.20248b8",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "location median",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" Median)\",\n    lat: parseFloat(msg.payload.gps_loc_median[0]),\n    lon: parseFloat(msg.payload.gps_loc_median[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_median[2]),\n    popped: false,\n    label: \"GPS median\",\n    color: \"Green\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Green\",\n    \"layer\": \"gps_median\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "7276efc3.4a134",
                "633ce062.07141",
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "7276efc3.4a134",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "633ce062.07141",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_1_median",
        "depth": "500",
        "layer": "combined",
        "x": 900,
        "y": 300,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "cdba743c.4533f",
        "type": "ui_button",
        "z": "366a3497.354eec",
        "name": "",
        "group": "a6d17d2b.71136",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Delete Layers and Tracks",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "domain",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "99d9c08f.6128e",
                "f66ccce1.0e65a",
                "14de662d.2fa242"
            ]
        ]
    },
    {
        "id": "99d9c08f.6128e",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "Remove layer \"gps_raw\"",
        "func": "msg.payload = {command:{clear:\"gps_raw\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 427,
        "y": 400,
        "wires": [
            [
                "6ed2ecec.4c6fd4",
                "e29c6fdc.e65968",
                "831c9d14.c1bfb"
            ]
        ]
    },
    {
        "id": "f66ccce1.0e65a",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "Remove layer \"gps_average\"",
        "func": "msg.payload = {command:{clear:\"gps_average\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437,
        "y": 440,
        "wires": [
            [
                "6ed2ecec.4c6fd4",
                "80993626.8e563",
                "62f2c0d3.6b361"
            ]
        ]
    },
    {
        "id": "14de662d.2fa242",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "Remove layer \"gps_median\"",
        "func": "msg.payload = {command:{clear:\"gps_median\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437,
        "y": 480,
        "wires": [
            [
                "6ed2ecec.4c6fd4",
                "633ce062.07141",
                "7d542b6b.4a2d54"
            ]
        ]
    },
    {
        "id": "6ed2ecec.4c6fd4",
        "type": "ui_worldmap",
        "z": "366a3497.354eec",
        "group": "a6d17d2b.71136",
        "order": 3,
        "width": 25,
        "height": 12,
        "name": "Show all in OpenStreetMap",
        "lat": "51.0037",
        "lon": "13.6868",
        "zoom": "14",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "path": "/worldmap",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "603ffe0e.adfdb",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "INSERT_avg gps in DB",
        "func": "var datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\n\nvar node_name = {payload: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\"};\nvar latitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[0])};\nvar longitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[1])};\nvar altitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[2])};\nvar satellites = {payload: msg.payload.satellites};\nvar icon = {payload: msg.payload.icon};\nvar iconColor = {payload: msg.payload.iconColor};\nvar wifi_rssi = {payload: msg.payload.wifi_rssi};\nvar time_UTC_gps = {payload: datetime_gps};\nvar time_local = {payload: datetime_local};\n\nvar sql_query = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO lora_1_gps (\" +\n    \"node_name, latitude_avg, longitude_avg, altitude_avg, satellites, icon, iconColor, wifi_rssi, time_UTC_gps, time_local) \" +\n    \"VALUES (\" +\n    \"'\" + node_name.payload + \"', \" +\n    latitude_avg.payload + \", \" +\n    longitude_avg.payload + \", \" +\n    altitude_avg.payload + \", \" +\n    satellites.payload + \", \" +\n    \"'\" + icon.payload + \"', \" +\n    \"'\" + iconColor.payload + \"', \" +\n    wifi_rssi.payload + \", \" +\n    \"'\" + time_UTC_gps.payload + \"', \" +\n    \"'\" + time_local.payload + \"')\"\n};\n\nreturn sql_query;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "75c0ab43.046514",
                "2a1caa00.8071d6"
            ]
        ]
    },
    {
        "id": "b5df5a24.4f8d38",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "5dd5b230.9ad58c",
        "type": "delay",
        "z": "366a3497.354eec",
        "name": "Time limiter 1 msg / 1 min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "59",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "603ffe0e.adfdb"
            ]
        ]
    },
    {
        "id": "d5af76aa.2002a8",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "display floating medians for GPS coordinates in map",
        "info": "",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "cff2dc5b.ca7e88",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "write floating average to DB 1/min",
        "info": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "1119242d.53959c",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "42866fcd.015178",
        "type": "mqtt in",
        "z": "366a3497.354eec",
        "name": "",
        "topic": "lora_2_esp32/lora/gps",
        "qos": "0",
        "datatype": "auto",
        "broker": "876f5533.ab4d58",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "ca293d82.43d3b8"
            ]
        ]
    },
    {
        "id": "ca293d82.43d3b8",
        "type": "json",
        "z": "366a3497.354eec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "1119242d.53959c",
                "607ac519.1430fc",
                "290f57ce.5a7a9",
                "8ae6268d.a5e2b",
                "ee8af760.d8f52"
            ]
        ]
    },
    {
        "id": "607ac519.1430fc",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "convert json output to worldmap",
        "func": "var newMsg = {};\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\nvar datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\")\",\n    lat: parseFloat(msg.payload.gps_loc[0]),\n    lon: parseFloat(msg.payload.gps_loc[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc[2]),\n    satellites: msg.payload.satellites,\n    popped: false,\n    label: \"GPS raw\",\n    icon: msg.payload.icon,\n    color: msg.payload.iconColor, // color of trace\n    iconColor: msg.payload.iconColor,\n    //radius: 10,\n    //radiusColor: \"Green\",\n    \"wifi rssi [dBm]\": msg.payload.wifi_rssi,\n    \"gps_time (UTC)\": datetime_gps,\n    \"local_time (DE)\": datetime_local,\n    \"layer\": \"gps_raw\",\n    \"draggable\": true\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "d44bf75a.1310e8",
                "831c9d14.c1bfb",
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "d44bf75a.1310e8",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "c0ae2404.145ab8",
        "type": "sqlite",
        "z": "366a3497.354eec",
        "mydb": "52d9b570.d77a5c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "lora_gps.sqlite3",
        "x": 1403,
        "y": 680,
        "wires": [
            [
                "7c56ab6a.085f7c"
            ]
        ]
    },
    {
        "id": "bd89117e.a382c8",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1373,
        "y": 640,
        "wires": []
    },
    {
        "id": "f76b2.7bc3c14e8",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "display floating averages for GPS coordinates in map",
        "info": "",
        "x": 1250,
        "y": 740,
        "wires": []
    },
    {
        "id": "831c9d14.c1bfb",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_2",
        "depth": "1000",
        "layer": "combined",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "290f57ce.5a7a9",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "location average",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\",\n    lat: parseFloat(msg.payload.gps_loc_avg[0]),\n    lon: parseFloat(msg.payload.gps_loc_avg[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_avg[2]),\n    popped: false,\n    label: \"GPS average\",\n    color: \"Darkred\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Darkred\",\n    \"layer\": \"gps_average\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "fe65692.3163998",
                "62f2c0d3.6b361",
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "fe65692.3163998",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "62f2c0d3.6b361",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_2_avg",
        "depth": "500",
        "layer": "combined",
        "x": 880,
        "y": 740,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "8ae6268d.a5e2b",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "location median",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" Median)\",\n    lat: parseFloat(msg.payload.gps_loc_median[0]),\n    lon: parseFloat(msg.payload.gps_loc_median[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_median[2]),\n    popped: false,\n    label: \"GPS median\",\n    color: \"Green\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Green\",\n    \"layer\": \"gps_median\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 820,
        "wires": [
            [
                "ada7230a.486c38",
                "7d542b6b.4a2d54",
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "ada7230a.486c38",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "7d542b6b.4a2d54",
        "type": "worldmap-tracks",
        "z": "366a3497.354eec",
        "name": "gps_track_lora_2_median",
        "depth": "500",
        "layer": "combined",
        "x": 890,
        "y": 820,
        "wires": [
            [
                "6ed2ecec.4c6fd4"
            ]
        ]
    },
    {
        "id": "45984292.c9480c",
        "type": "function",
        "z": "366a3497.354eec",
        "name": "INSERT_avg gps in DB",
        "func": "var datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\n\nvar node_name = {payload: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\"};\nvar latitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[0])};\nvar longitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[1])};\nvar altitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[2])};\nvar satellites = {payload: msg.payload.satellites};\nvar icon = {payload: msg.payload.icon};\nvar iconColor = {payload: msg.payload.iconColor};\nvar wifi_rssi = {payload: msg.payload.wifi_rssi};\nvar time_UTC_gps = {payload: datetime_gps};\nvar time_local = {payload: datetime_local};\n\nvar sql_query = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO lora_2_gps (\" +\n    \"node_name, latitude_avg, longitude_avg, altitude_avg, satellites, icon, iconColor, wifi_rssi, time_UTC_gps, time_local) \" +\n    \"VALUES (\" +\n    \"'\" + node_name.payload + \"', \" +\n    latitude_avg.payload + \", \" +\n    longitude_avg.payload + \", \" +\n    altitude_avg.payload + \", \" +\n    satellites.payload + \", \" +\n    \"'\" + icon.payload + \"', \" +\n    \"'\" + iconColor.payload + \"', \" +\n    wifi_rssi.payload + \", \" +\n    \"'\" + time_UTC_gps.payload + \"', \" +\n    \"'\" + time_local.payload + \"')\"\n};\n\nreturn sql_query;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 680,
        "wires": [
            [
                "bd89117e.a382c8",
                "c0ae2404.145ab8"
            ]
        ]
    },
    {
        "id": "7c56ab6a.085f7c",
        "type": "debug",
        "z": "366a3497.354eec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 680,
        "wires": []
    },
    {
        "id": "ee8af760.d8f52",
        "type": "delay",
        "z": "366a3497.354eec",
        "name": "Time limiter 1 msg / 1 min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "59",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "45984292.c9480c"
            ]
        ]
    },
    {
        "id": "9d9163e5.ba53f8",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "display floating medians for GPS coordinates in map",
        "info": "",
        "x": 1250,
        "y": 820,
        "wires": []
    },
    {
        "id": "7f29e223.d17b0c",
        "type": "comment",
        "z": "366a3497.354eec",
        "name": "write floating average to DB 1/min",
        "info": "",
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "876f5533.ab4d58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "52d9b570.d77a5c",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/bk/jupyter-notebook/Python/sqlite_dbs/lora_gps.sqlite3",
        "mode": "RWC"
    },
    {
        "id": "a6d17d2b.71136",
        "type": "ui_group",
        "z": "",
        "name": "Worldmap",
        "tab": "ab202903.75c298",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": true
    },
    {
        "id": "ab202903.75c298",
        "type": "ui_tab",
        "z": "",
        "name": "GPS Tracker",
        "icon": "map",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]