node-red/lora_1u2_map.json
[
    {
        "id": "e0971a9e.7645e",
        "type": "tab",
        "label": "lora_1u2_map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20c39864.144828",
        "type": "mqtt in",
        "z": "e0971a9e.7645e",
        "name": "",
        "topic": "lora_1/wifi/rssi",
        "qos": "0",
        "datatype": "auto",
        "broker": "4bbfe3e2.beff9c",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "238e67df.5ec36"
            ]
        ]
    },
    {
        "id": "238e67df.5ec36",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "1521a671.93ce92",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "e14e60b1.e60db",
        "type": "mqtt in",
        "z": "e0971a9e.7645e",
        "name": "",
        "topic": "lora_1/lora/gps",
        "qos": "0",
        "datatype": "auto",
        "broker": "4bbfe3e2.beff9c",
        "x": 101,
        "y": 103,
        "wires": [
            [
                "8e153906.32f468"
            ]
        ]
    },
    {
        "id": "8e153906.32f468",
        "type": "json",
        "z": "e0971a9e.7645e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 103,
        "wires": [
            [
                "1521a671.93ce92",
                "54a12881.21ede8",
                "2231565b.f7212a",
                "a54587be.c2365",
                "d4223c26.38d01"
            ]
        ]
    },
    {
        "id": "54a12881.21ede8",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "convert json output to worldmap",
        "func": "var newMsg = {};\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\nvar datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\")\",\n    lat: parseFloat(msg.payload.gps_loc[0]),\n    lon: parseFloat(msg.payload.gps_loc[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc[2]),\n    satellites: msg.payload.satellites,\n    popped: true,\n    label: \"GPS raw\",\n    icon: msg.payload.icon,\n    color: msg.payload.iconColor, // color of trace\n    iconColor: msg.payload.iconColor,\n    //radius: 10,\n    //radiusColor: \"Green\",\n    \"wifi rssi [dBm]\": msg.payload.wifi_rssi,\n    \"gps_time (UTC)\": datetime_gps,\n    \"local_time (DE)\": datetime_local,\n    \"layer\": \"gps_raw\",\n    \"draggable\": true\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "589cf97b.52a4b8",
                "699ea021.56971",
                "7e57143e.c382f4"
            ]
        ]
    },
    {
        "id": "589cf97b.52a4b8",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "40f8054f.1b13bc",
        "type": "mqtt in",
        "z": "e0971a9e.7645e",
        "name": "",
        "topic": "lora_2_esp32/wifi/rssi",
        "qos": "0",
        "datatype": "auto",
        "broker": "4bbfe3e2.beff9c",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "c4820cfd.13d518"
            ]
        ]
    },
    {
        "id": "c4820cfd.13d518",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "6b9cf4cb.92e4c4",
        "type": "sqlite",
        "z": "e0971a9e.7645e",
        "mydb": "89bd216b.24516",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "lora_gps.sqlite3",
        "x": 1400,
        "y": 160,
        "wires": [
            [
                "7b7fda74.7dd2c4"
            ]
        ]
    },
    {
        "id": "262cf016.f41038",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1370,
        "y": 90,
        "wires": []
    },
    {
        "id": "9b0ab382.e2fd78",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "display floating averages for GPS coordinates in map",
        "info": "",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "7e57143e.c382f4",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_1",
        "depth": "1000",
        "layer": "combined",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "2231565b.f7212a",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "location average",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\",\n    lat: parseFloat(msg.payload.gps_loc_avg[0]),\n    lon: parseFloat(msg.payload.gps_loc_avg[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_avg[2]),\n    popped: false,\n    label: \"GPS average\",\n    color: \"Darkred\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Darkred\",\n    \"layer\": \"gps_average\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "c2a77705.f3d568",
                "699ea021.56971",
                "eaf9ace6.993c98"
            ]
        ]
    },
    {
        "id": "c2a77705.f3d568",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "eaf9ace6.993c98",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_1_avg",
        "depth": "500",
        "layer": "combined",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "a54587be.c2365",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "location median",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" Median)\",\n    lat: parseFloat(msg.payload.gps_loc_median[0]),\n    lon: parseFloat(msg.payload.gps_loc_median[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_median[2]),\n    popped: false,\n    label: \"GPS median\",\n    color: \"Green\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Green\",\n    \"layer\": \"gps_median\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "a584163d.a498b8",
                "604e5542.733404",
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "a584163d.a498b8",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "604e5542.733404",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_1_median",
        "depth": "500",
        "layer": "combined",
        "x": 890,
        "y": 300,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "dc20f6a0.05b2d",
        "type": "ui_button",
        "z": "e0971a9e.7645e",
        "name": "",
        "group": "4e5a349d.83601c",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Delete Layers and Tracks",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "domain",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "191f8865.59eb78",
                "10688135.c0b04f",
                "a4257796.def848"
            ]
        ]
    },
    {
        "id": "191f8865.59eb78",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "Remove layer \"gps_raw\"",
        "func": "msg.payload = {command:{clear:\"gps_raw\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 427,
        "y": 400,
        "wires": [
            [
                "699ea021.56971",
                "7e57143e.c382f4",
                "472b7412.8f19a4"
            ]
        ]
    },
    {
        "id": "10688135.c0b04f",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "Remove layer \"gps_average\"",
        "func": "msg.payload = {command:{clear:\"gps_average\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437,
        "y": 440,
        "wires": [
            [
                "699ea021.56971",
                "eaf9ace6.993c98",
                "279a6836.4b83f"
            ]
        ]
    },
    {
        "id": "a4257796.def848",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "Remove layer \"gps_median\"",
        "func": "msg.payload = {command:{clear:\"gps_median\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437,
        "y": 480,
        "wires": [
            [
                "699ea021.56971",
                "604e5542.733404",
                "9f3b6f6e.dd2138"
            ]
        ]
    },
    {
        "id": "d5348f64.d23a18",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "INSERT_avg gps in DB",
        "func": "var datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\n\nvar node_name = {payload: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\"};\nvar latitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[0])};\nvar longitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[1])};\nvar altitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[2])};\nvar satellites = {payload: msg.payload.satellites};\nvar icon = {payload: msg.payload.icon};\nvar iconColor = {payload: msg.payload.iconColor};\nvar wifi_rssi = {payload: msg.payload.wifi_rssi};\nvar time_UTC_gps = {payload: datetime_gps};\nvar time_local = {payload: datetime_local};\n\nvar sql_query = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO lora_1_gps (\" +\n    \"node_name, latitude_avg, longitude_avg, altitude_avg, satellites, icon, iconColor, wifi_rssi, time_UTC_gps, time_local) \" +\n    \"VALUES (\" +\n    \"'\" + node_name.payload + \"', \" +\n    latitude_avg.payload + \", \" +\n    longitude_avg.payload + \", \" +\n    altitude_avg.payload + \", \" +\n    satellites.payload + \", \" +\n    \"'\" + icon.payload + \"', \" +\n    \"'\" + iconColor.payload + \"', \" +\n    wifi_rssi.payload + \", \" +\n    \"'\" + time_UTC_gps.payload + \"', \" +\n    \"'\" + time_local.payload + \"')\"\n};\n\nreturn sql_query;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "262cf016.f41038",
                "6b9cf4cb.92e4c4"
            ]
        ]
    },
    {
        "id": "7b7fda74.7dd2c4",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "d4223c26.38d01",
        "type": "delay",
        "z": "e0971a9e.7645e",
        "name": "Time limiter 1 msg / 1 min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "59",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "d5348f64.d23a18"
            ]
        ]
    },
    {
        "id": "23b9b84c.9eb2e",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "display floating medians for GPS coordinates in map",
        "info": "",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "41b7b814.c808f8",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "write floating average to DB 1/min",
        "info": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "f9ba42a0.2632b8",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "c0513b10.4d6558",
        "type": "mqtt in",
        "z": "e0971a9e.7645e",
        "name": "",
        "topic": "lora_2_esp32/lora/gps",
        "qos": "0",
        "datatype": "auto",
        "broker": "4bbfe3e2.beff9c",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "f7051d32.b3051"
            ]
        ]
    },
    {
        "id": "f7051d32.b3051",
        "type": "json",
        "z": "e0971a9e.7645e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "f9ba42a0.2632b8",
                "be3c4c40.ceed88",
                "f8e9b4ff.b0dce",
                "b5e48d2e.b7814",
                "11dc694b.2c3f4f"
            ]
        ]
    },
    {
        "id": "be3c4c40.ceed88",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "convert json output to worldmap",
        "func": "var newMsg = {};\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\nvar datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\")\",\n    lat: parseFloat(msg.payload.gps_loc[0]),\n    lon: parseFloat(msg.payload.gps_loc[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc[2]),\n    satellites: msg.payload.satellites,\n    popped: true,\n    label: \"GPS raw\",\n    icon: msg.payload.icon,\n    color: msg.payload.iconColor, // color of trace\n    iconColor: msg.payload.iconColor,\n    //radius: 10,\n    //radiusColor: \"Green\",\n    \"wifi rssi [dBm]\": msg.payload.wifi_rssi,\n    \"gps_time (UTC)\": datetime_gps,\n    \"local_time (DE)\": datetime_local,\n    \"layer\": \"gps_raw\",\n    \"draggable\": true\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "acabda61.bdeeb",
                "472b7412.8f19a4",
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "acabda61.bdeeb",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "9057b5c2.7f193",
        "type": "sqlite",
        "z": "e0971a9e.7645e",
        "mydb": "89bd216b.24516",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "lora_gps.sqlite3",
        "x": 1400,
        "y": 680,
        "wires": [
            [
                "ef567e8c.2677e"
            ]
        ]
    },
    {
        "id": "d2d94591.6dc5e8",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1370,
        "y": 610,
        "wires": []
    },
    {
        "id": "5f812c1e.512114",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "display floating averages for GPS coordinates in map",
        "info": "",
        "x": 1250,
        "y": 740,
        "wires": []
    },
    {
        "id": "472b7412.8f19a4",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_2",
        "depth": "1000",
        "layer": "combined",
        "x": 870,
        "y": 600,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "f8e9b4ff.b0dce",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "location average",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\",\n    lat: parseFloat(msg.payload.gps_loc_avg[0]),\n    lon: parseFloat(msg.payload.gps_loc_avg[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_avg[2]),\n    popped: false,\n    label: \"GPS average\",\n    color: \"Darkred\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Darkred\",\n    \"layer\": \"gps_average\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "9a4a1036.aaf99",
                "279a6836.4b83f",
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "9a4a1036.aaf99",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "279a6836.4b83f",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_2_avg",
        "depth": "500",
        "layer": "combined",
        "x": 880,
        "y": 740,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "b5e48d2e.b7814",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "location median",
        "func": "var newMsg = {};\n\nnewMsg.payload = {\n    name: msg.payload.sensor+\" (\"+msg.payload.location+\" Median)\",\n    lat: parseFloat(msg.payload.gps_loc_median[0]),\n    lon: parseFloat(msg.payload.gps_loc_median[1]),\n    \"altitude [m]\": parseFloat(msg.payload.gps_loc_median[2]),\n    popped: false,\n    label: \"GPS median\",\n    color: \"Green\", // color of trace\n    icon: msg.payload.icon,\n    iconColor: \"Green\",\n    \"layer\": \"gps_median\",\n    \"draggable\": true\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 820,
        "wires": [
            [
                "99113362.045c58",
                "9f3b6f6e.dd2138",
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "99113362.045c58",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "9f3b6f6e.dd2138",
        "type": "worldmap-tracks",
        "z": "e0971a9e.7645e",
        "name": "gps_track_lora_2_median",
        "depth": "500",
        "layer": "combined",
        "x": 890,
        "y": 820,
        "wires": [
            [
                "699ea021.56971"
            ]
        ]
    },
    {
        "id": "d777a5c9.ab2708",
        "type": "function",
        "z": "e0971a9e.7645e",
        "name": "INSERT_avg gps in DB",
        "func": "var datetime_gps = new Date(msg.payload.time).toLocaleString('de-DE', { hour12:false });\nvar datetime_local = new Date().toLocaleString('de-DE', { hour12:false });\n\nvar node_name = {payload: msg.payload.sensor+\" (\"+msg.payload.location+\" AVG)\"};\nvar latitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[0])};\nvar longitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[1])};\nvar altitude_avg = {payload: parseFloat(msg.payload.gps_loc_avg[2])};\nvar satellites = {payload: msg.payload.satellites};\nvar icon = {payload: msg.payload.icon};\nvar iconColor = {payload: msg.payload.iconColor};\nvar wifi_rssi = {payload: msg.payload.wifi_rssi};\nvar time_UTC_gps = {payload: datetime_gps};\nvar time_local = {payload: datetime_local};\n\nvar sql_query = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO lora_2_gps (\" +\n    \"node_name, latitude_avg, longitude_avg, altitude_avg, satellites, icon, iconColor, wifi_rssi, time_UTC_gps, time_local) \" +\n    \"VALUES (\" +\n    \"'\" + node_name.payload + \"', \" +\n    latitude_avg.payload + \", \" +\n    longitude_avg.payload + \", \" +\n    altitude_avg.payload + \", \" +\n    satellites.payload + \", \" +\n    \"'\" + icon.payload + \"', \" +\n    \"'\" + iconColor.payload + \"', \" +\n    wifi_rssi.payload + \", \" +\n    \"'\" + time_UTC_gps.payload + \"', \" +\n    \"'\" + time_local.payload + \"')\"\n};\n\nreturn sql_query;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "d2d94591.6dc5e8",
                "9057b5c2.7f193"
            ]
        ]
    },
    {
        "id": "ef567e8c.2677e",
        "type": "debug",
        "z": "e0971a9e.7645e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1570,
        "y": 680,
        "wires": []
    },
    {
        "id": "11dc694b.2c3f4f",
        "type": "delay",
        "z": "e0971a9e.7645e",
        "name": "Time limiter 1 msg / 1 min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "59",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "d777a5c9.ab2708"
            ]
        ]
    },
    {
        "id": "f7c8feff.dd24b8",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "display floating medians for GPS coordinates in map",
        "info": "",
        "x": 1250,
        "y": 820,
        "wires": []
    },
    {
        "id": "90005b88.2a7c88",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "write floating average to DB 1/min",
        "info": "",
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "699ea021.56971",
        "type": "ui_worldmap",
        "z": "e0971a9e.7645e",
        "group": "4e5a349d.83601c",
        "order": 3,
        "width": 25,
        "height": 12,
        "name": "Show all in OpenStreetMap",
        "lat": "51.0037",
        "lon": "13.6868",
        "zoom": "14",
        "layer": "OSM",
        "cluster": "14",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "path": "/worldmap",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "ec1abaa2.3ffd1",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "create table query",
        "info": "CREATE TABLE 'lora_1_gps' ('id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 'node_name' TEXT,'latitude_avg' REAL DEFAULT NULL,'longitude_avg' REAL DEFAULT NULL,'altitude_avg' REAL DEFAULT NULL, 'satellites' INTEGER DEFAULT NULL, 'icon' TEXT, 'iconColor' TEXT, 'wifi_rssi' INTEGER DEFAULT NULL,'time_UTC_gps' DATETIME,'time_local' DATETIME)",
        "x": 1410,
        "y": 130,
        "wires": []
    },
    {
        "id": "3f693215.906ef6",
        "type": "comment",
        "z": "e0971a9e.7645e",
        "name": "create table query",
        "info": "CREATE TABLE 'lora_2_gps' ('id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 'node_name' TEXT,'latitude_avg' REAL DEFAULT NULL,'longitude_avg' REAL DEFAULT NULL,'altitude_avg' REAL DEFAULT NULL, 'satellites' INTEGER DEFAULT NULL, 'icon' TEXT, 'iconColor' TEXT, 'wifi_rssi' INTEGER DEFAULT NULL,'time_UTC_gps' DATETIME,'time_local' DATETIME)",
        "x": 1410,
        "y": 650,
        "wires": []
    },
    {
        "id": "4bbfe3e2.beff9c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "89bd216b.24516",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/bk/jupyter-notebook/Python/sqlite_dbs/lora_gps.sqlite3",
        "mode": "RWC"
    },
    {
        "id": "4e5a349d.83601c",
        "type": "ui_group",
        "z": "",
        "name": "Worldmap",
        "tab": "19704a4d.890076",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": true
    },
    {
        "id": "19704a4d.890076",
        "type": "ui_tab",
        "z": "",
        "name": "GPS Tracker",
        "icon": "map",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]